SMSQueue/Web References/com.sahandsms/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Send">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="mobiles" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="origs" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="encodings" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="UDH" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="mclass" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="priorities" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="checkingIds" type="tns:ArrayOfLong" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="long" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendResult" type="tns:ArrayOfLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Getmessagestatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="arrmessageId" type="tns:ArrayOfLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetmessagestatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetmessagestatusResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getstatuses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="arrmessageId" type="tns:ArrayOfLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getstatusesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getstatusesResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Recivesms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PhNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EndT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecivesmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecivesmsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getcredit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IUName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="credit" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="racefa" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="raceEn" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getcreditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getcreditResult" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="credit" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="racefa" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="raceEn" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSoapIn">
    <wsdl:part name="parameters" element="tns:Send" />
  </wsdl:message>
  <wsdl:message name="SendSoapOut">
    <wsdl:part name="parameters" element="tns:SendResponse" />
  </wsdl:message>
  <wsdl:message name="GetmessagestatusSoapIn">
    <wsdl:part name="parameters" element="tns:Getmessagestatus" />
  </wsdl:message>
  <wsdl:message name="GetmessagestatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetmessagestatusResponse" />
  </wsdl:message>
  <wsdl:message name="getstatusesSoapIn">
    <wsdl:part name="parameters" element="tns:getstatuses" />
  </wsdl:message>
  <wsdl:message name="getstatusesSoapOut">
    <wsdl:part name="parameters" element="tns:getstatusesResponse" />
  </wsdl:message>
  <wsdl:message name="RecivesmsSoapIn">
    <wsdl:part name="parameters" element="tns:Recivesms" />
  </wsdl:message>
  <wsdl:message name="RecivesmsSoapOut">
    <wsdl:part name="parameters" element="tns:RecivesmsResponse" />
  </wsdl:message>
  <wsdl:message name="getcreditSoapIn">
    <wsdl:part name="parameters" element="tns:getcredit" />
  </wsdl:message>
  <wsdl:message name="getcreditSoapOut">
    <wsdl:part name="parameters" element="tns:getcreditResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="Send">
      <wsdl:input message="tns:SendSoapIn" />
      <wsdl:output message="tns:SendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Getmessagestatus">
      <wsdl:input message="tns:GetmessagestatusSoapIn" />
      <wsdl:output message="tns:GetmessagestatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getstatuses">
      <wsdl:input message="tns:getstatusesSoapIn" />
      <wsdl:output message="tns:getstatusesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Recivesms">
      <wsdl:input message="tns:RecivesmsSoapIn" />
      <wsdl:output message="tns:RecivesmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getcredit">
      <wsdl:input message="tns:getcreditSoapIn" />
      <wsdl:output message="tns:getcreditSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Send">
      <soap:operation soapAction="http://tempuri.org/Send" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getmessagestatus">
      <soap:operation soapAction="http://tempuri.org/Getmessagestatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getstatuses">
      <soap:operation soapAction="http://tempuri.org/getstatuses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Recivesms">
      <soap:operation soapAction="http://tempuri.org/Recivesms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getcredit">
      <soap:operation soapAction="http://tempuri.org/getcredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Send">
      <soap12:operation soapAction="http://tempuri.org/Send" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getmessagestatus">
      <soap12:operation soapAction="http://tempuri.org/Getmessagestatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getstatuses">
      <soap12:operation soapAction="http://tempuri.org/getstatuses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Recivesms">
      <soap12:operation soapAction="http://tempuri.org/Recivesms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getcredit">
      <soap12:operation soapAction="http://tempuri.org/getcredit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://sahandsms.com/WebService_fakhri/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://sahandsms.com/WebService_fakhri/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>